:root{
    --body-bg: rgb(53, 53, 53);
    --container-bg: rgb(78, 78, 78);
    --inner-wrapper-bg: rgb(36, 36, 36);
    --minute-hand: rgba(255, 255, 255, 0.8);
    --hour-hand: white;
    --second-hand: rgba(255, 255, 255, 0.3);
    --body-color: white;
    --shadow: rgb(0, 0, 0) 0px 22px 70px 4px;
    --innerwrapper-width: 386px;
    --innerwrapper-height: 386px;
    --border-lining: conic-gradient(from -45deg, white, rgb(49, 49, 49), white);
    --all-gradient: conic-gradient(from 0deg, rgba(255,0,0,1) 0%, rgba(255,132,50,1) 20%, rgba(127,255,113,1) 43%, rgba(0,228,255,1) 67%, rgba(255,209,107,1) 85%, rgba(255,0,0,1) 100%);
    --pink-gradient: conic-gradient(from 0deg, #ffe3db, #ff98ff, #ff8462, #ffe3db);
    --green-gradient: conic-gradient(from 0deg, #00ff62, #4afff6, #65ffde, #00ff62);
    --purple-gradient: conic-gradient(from 0deg, #b700ff, #ff52bd, #ff41d0, #b700ff);
    --label-visibilty: 0;
}
[color-theme = "light"]{
    --body-bg: rgb(255, 255, 255);
    --border-lining: white;
    --container-bg: rgba(230, 230, 230, 0.795);
    --inner-wrapper-bg: rgba(218, 218, 218, 0.925);
    --container-filter: blur(6px);
    --body-color: rgb(88, 88, 88);
    --minute-hand: rgba(104, 104, 104, 0.562);
    --hour-hand: rgba(70, 70, 70, 0.856);
    --shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    --second-hand: rgb(167, 167, 167);
}
[wallpaper = "true"]{
    --body-bg: url("https://source.unsplash.com/1920x1080/?mountains");
}
[show-label = "true"]{
    --label-visibilty: 1;
}
[rgb = "all-color"]{
    --border-lining: var(--all-gradient);
    --innerwrapper-width: 380px;
    --innerwrapper-height: 380px;
    --rgb-animation: rgb-animation;
}
[rgb = "green-color"]{
    --border-lining: var(--green-gradient);
    --innerwrapper-width: 380px;
    --innerwrapper-height: 380px;
    --rgb-animation: rgb-animation;
}
[rgb = "purple-color"]{
    --border-lining: var(--purple-gradient);
    --innerwrapper-width: 380px;
    --innerwrapper-height: 380px;
    --rgb-animation: rgb-animation;
}
[rgb = "pink-color"]{
    --border-lining: var(--pink-gradient);
    --innerwrapper-width: 380px;
    --innerwrapper-height: 380px;
    --rgb-animation: rgb-animation;
}
[rgb = "off"]{
    --show-option: none;
}

[red="on"]{
    --second-hand: red;
}
*{
    margin: 0px;
    font-size: 16px;
}
body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    overflow: hidden;
    background-size: cover !important;
    background-position: center !important;
    background: var(--body-bg);
    flex-direction: column;
    color: var(--body-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}   
.container{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: var(--container-bg);
    backdrop-filter: var(--container-filter);
    /* box-shadow: 0 0 100px 10px black; */
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-border{
    position: absolute;
    height: 390px;
    width: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--border-lining);
    transition: background 3s ease;
    animation: var(--rgb-animation) .8s linear infinite;
}
@keyframes rgb-animation {
    to{
        transform: rotate(360deg);
    }
}
.inner-wrapper{
    background-color: var(--inner-wrapper-bg);
    width: var(--innerwrapper-width);
    height: var(--innerwrapper-height);
    border-radius: 50%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: height 1s linear, width 1s ease, color 3s ease;
}
.hand{
    width: 2px;
    position: absolute;
    bottom: 50%;
}
.minute-hand{
    background-color: var(--minute-hand);
    height: 130px;
    transform-origin: bottom;
}
.hour-hand{
    background-color: var(--hour-hand);
    transform-origin: bottom;
    height: 80px;
}
.second-hand{
    background-color: var(--second-hand);
    transform-origin: bottom;
    height: 160px;
    transition: background-color 1s linear;
}
@media screen and (max-width: 500px) {
    .container {
        height: 80vw;
        width: 80%;
    }
    .inner-border{
        height: calc(80vw - 4px);
        width: calc(80vw - 4px);
    }
    .inner-wrapper{
        height: calc(80vw - 8px);
        width: calc(80vw - 8px);
    }
    .minute-hand{
        height: 36%;
    }
    .hour-hand{
        height: 20%;
    }
    .second-hand{
        height: 40%;
    }
}
.labels{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: var(--label-visibilty);
    transition: opacity 2s ease;
}
.label{
    color: var(--minute-hand);
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
}
.label-1{
    transform: rotate(30deg);
}
.label-2{
    transform: rotate(60deg);
}
.label-3{
    transform: rotate(90deg);
}
.label-4{
    transform: rotate(120deg);
}
.label-5{
    transform: rotate(150deg);
}
.label-6{
    transform: rotate(180deg);
}
.label-7{
    transform: rotate(210deg);
}
.label-8{
    transform: rotate(240deg);
}
.label-9{
    transform: rotate(270deg);
}
.label-10{
    transform: rotate(300deg);
}
.label-11{
    transform: rotate(330deg);
}
.settings{
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.settings:hover .setting-menu{
    transform: translateX(-30px);
    visibility: visible;
    opacity: 1;
}
.settings .setting-icon{
    transition: all 1s ease;
    cursor: pointer;
}
.settings .setting-icon:hover{
    transform: rotate(360deg);
}
.setting-menu{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    border-radius: 15px;
    padding: 15px;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--container-bg);
    transition: all .3s ease, transform .5s ease-out;
}
.menu-wrapper{
    margin: 10px 0px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 1s ease;
}
.theme-toggle{
    cursor: pointer;
    height: 20px;
    width: 50px;
    background-color: grey;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
}
.theme-toggle .knob{
    width: 25px;
    height: 25px;
    background-color: lightgrey;
    border-radius: 50%;
    position: absolute;
    left: 0%;
    transition: transform .5s ease-out;
}
.theme-toggle.off{
    background-color: rgb(161, 161, 161);
}
.theme-toggle.off .knob{
    background-color: rgb(255, 122, 122);
    transform: translateX(100%);
}
.menu-wrapper:nth-child(3){
    display:inline;
    display: var(--show-option);
}
.theme-color-brick{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.color-box{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}
.color-box.active{
    border-color: rgb(122, 122, 255);
}
.all-color{
    background: var(--all-gradient);
}
.green-color{
    background: var(--green-gradient);
}
.purple-color{
    background: var(--purple-gradient);
}
.pink-color{
    background: var(--pink-gradient);
}
.speed-slider{
    color: rgb(179, 179, 179);
    font-size: 14px;
    margin-top: 20px;
}
.speed-slider input{
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(90deg, #fad0c4, #ff85ff);
    color: #fad0c4;
    outline: none;
    height: 3px;
    border-radius: 10px;
    width: 100%;
}
.speed-slider input::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background: #ff7751;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
.social-icons div{
    cursor: pointer;
    color: var(--body-color);
    width: fit-content;
    height: fit-content;
    transition: all .4s ease;
}
.social-icons div:hover{
    transform: scale(1.2);
}
.menu-wrapper.wall{
    flex-wrap: wrap;
}
.menu-wallpaper{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.wallpaper-settings{
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
    outline: none;
}
input[type = "file"]::-webkit-file-upload-button{
    /* visibility: hidden; */
    background: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
    color: white;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    border: solid 1px white;
    border-radius: 10px;
    font-weight: 500;
}
/* .wallpaper-settings label{
    position: relative;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer; 
    text-align: center;
    width: 200px;
    box-sizing: border-box;
    border-radius: 10px;
    transition: all 1s ease;
    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px rgb(49, 49, 49);
    border-radius: 10px;
} */
/* .wallpaper-settings label:hover{
    background-position: right center; /* change the direction of the change here 
    color: #fff;
    text-decoration: none;
} */